 <!-- Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <div class="modal-title"></div>
          </div>
          <div class="modal-body">
            <p id="note">Notes</p>
            <div class="input"></div>
          </div>
        
        </div>
      </div>
    </div>


<!-- Container -->
  <div class="container">

      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">Mongo Scraper</a>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="saved.html">Saved Articles</a>
            </li>
          </ul>

          <a href="https://github.com/chloechoudesign/Scrape-News" class="my-2 my-sm-0 git-icon"><i class="fa fa-github" aria-hidden="true"></i></a>
      
        </div>
      </nav>


      <div class="jumbotron text-center">
        <h1>Invision Blog Scraper</h1>
        <p>Thoughts on users, experience, and design.</p>
        <a class="btn-fetch btn btn-primary" href="#" role="button">Fetch New Articles</a>
      </div>


      <div class="row" id="articles">
       <!--  <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h4></h4>
              <p class="card-text"></p>
              <a href="#" class="btn btn-outline-primary btn-sm">Comment</a>
            </div>
          </div>
        </div> -->
      </div>


  </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>